<!DOCTYPE html>
<html lang="en" ng-app="addressBook">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Address Book - sample</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/app.css">

</head>
<body>
<div class="ui divider hidden"></div>
<div class="ui page one column grid">
    <div class="column">
        <nav class="ui menu">
            <div class="left menu">
                <a href="#/" class="active item " id="_btnhomePage">Address Book</a>
            </div>

            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search..." ng-model="searchText.$">
                        <i class="{{ searchText.$.length ? 'close' : 'search' }} link icon" ng-click="searchText.$ = '' " ></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="column" ng-view></div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>

<script src="js/app.js"></script>
<script src="js/storage.js"></script>
<script src="js/filters.js"></script>

<script src="js/list.js"></script>
<script src="js/item.js"></script>


</body>
</html>
