<h2 class="ui header">{{title}}
    <div class="sub header">#id: {{address._id}}</div>
</h2>
<div class="ui two columns grid">
    <div class="column">
        <div class="ui form segment">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" ng-model="address.name.first">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" ng-model="address.name.last">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input type="text" ng-model="address.email">
            </div>
            <div class="field">
                <label>Address</label>
                <input type="text" ng-model="address.address">
            </div>
            <div class="field">
                <label>Phone</label>
                <input type="text" ng-model="address.phone">
            </div>
        </div>
        <div class="positive ui button _btnSaveAddress" ng-click="update()">Save</div>
        <div class="negative ui button _btnDeleteAddress" ng-click="delete()">Delete</div>
    </div>

    <div class="column">
        <div class="ui card wide">
            <div class="ui top attached button disabled ">Preview</div>
            <div class="content">
                <div class="header">{{ address.name.first }} {{ address.name.last }}</div>
                <div class="meta">{{ address.email }}</div>
                <div class="description">{{ address.address}}</div>

            </div>
            <div class="extra content">
                <div ng-show='address.phone'>
                    <div class="ui mini green icon inverted button"><i class="call icon"></i> Call</div>
                    <span>{{ address.phone}}</span>
                </div>
            </div>

        </div>
    </div>

</div>  