<div class="floated ui negative message compact" ng-show='addressList.length == 0'>
    <i class="close icon"></i>

    <div class="header">
        Your Address Book is Empty!!
    </div>
    <p>Please add an item or import ssample data!
    </p>
</div>

<div class="right floated ui buttons">
    <a href="#/new" class="ui inverted button green _addNewItem"><i class="plus icon"></i>Add new</a>

    <div class="or"></div>
    <div class="ui button _btnImportData" ng-click="importSample()">Import Sample Data</div>

    <div class="ui button inverted red _btnClearData" ng-click="clearAll()">Clear All</div>
</div>
<div class="ui divider hidden clearing"></div>

<div class="ui divider hidden "></div>

<div class="ui three doubling cards">
    <div class="card" ng-repeat="address in addressList | search: searchText.$">
        <div class="content">
            <a href="#/edit/{{address._id}}" class="right floated ui mini orange basic button">EDIT</a>

            <div class="header">{{ address.name.first }} {{ address.name.last }}</div>
            <div class="meta">{{ address.email }}</div>
            <div class="description">{{ address.address}}</div>
        </div>
        <div class="extra content">
            <div ng-show='address.phone'>
                <div class="ui mini green icon inverted button" ng-click="callphone()">
                    <i class="call icon"></i> Call
                </div>
                <span>{{ address.phone}}</span>
            </div>
        </div>

    </div>
</div>
